{% extends 'MyInventoryApp/base.html' %}
{% load static %}


                {% block content %}
                <div class="col-6">
                    <div class="card">
                    <div class="card-header">
                        Sign Up:
                    </div>
                    <div class="card-body">
                        <form method ="POST"  action="{% url 'signup_user' %}">{% csrf_token %}
                            <div class="form-group mb-3">
                              <label for="uname" class="form-label">User Name</label>
                              <input type="text" class="form-control" id="uname" name="uname" required>
                            </div>
                            <div class="form-group mb-3">
                              <label for="pword" class="form-label">Password</label>
                              <input type="password" class="form-control" id="pword" name="pword" required>
                            </div>
                            <div class="form-group mb-3">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Create Account</button>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="col">
                                    <a href="{% url 'login_user' %}">Already have an account?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                {% endblock %}