{% extends 'MyInventoryApp/base.html' %}

{% block buttons %}
    <a href="{% url 'view_customers' %}" class="btn btn-secondary">Back</a>
{% endblock %}

{% block content %}
<div class="col-12 col-md-6 mx-auto">
    <h3>Customer Details</h3>
    <p><strong>Customer ID:</strong> {{ customer.customer_id }}</p>
    <p><strong>Name:</strong> {{ customer.name }}</p>
    <p><strong>Phone No:</strong> {{ customer.phone_no }}</p>
    <p><strong>Address:</strong> {{ customer.address }}</p>
    <p><strong>Customer Type:</strong> {{ customer.customer_type }}</p>
    <p><strong>Satisfaction:</strong> {{ customer.satisfaction }}</p>
</div>
{% endblock %}